body{
    background-color: rgb(224, 224, 224);
     
     
 }
 
 #bg-border1{
     overflow: hidden;
     background: linear-gradient(50deg, #ff4169 0, #12a3b5 100%);
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .container1{
     width:100%;
     max-height: 600px;
     margin-top:5px;
 }
 .hotWeekend{
     font-size: 30px;
 text-align: center;
         }
 
         #button1{
             background-color: #12a3b5; 
               border: none;
               color: white;
               padding: 15px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;
               margin: 4px 2px;
               cursor: pointer;
               -webkit-transition-duration: 0.4s; /* Safari */
               transition-duration: 0.4s; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
               border-radius: 100px;
             }
             
             #button1:hover{
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
             }
 
 .margin30{
     margin-bottom: 30px;
 }
 
 .curatedText{
     text-align: center;
     font-weight: 600;
 }
 
 .bold{
     font-weight: bold;
 }